<!DOCTYPE html>
<html>
<head>
    <title>Lego App</title>
</head>
<body>

<nav>
    {% if current_user.is_authenticated %}
        <a href="/">Dashboard</a>

        <!-- LOGOUT POST -->
        <form action="/logout" method="POST" style="display:inline;">
            <button type="submit">Logout</button>
        </form>

    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Registrati</a>
    {% endif %}
</nav>

<hr>

{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <p>{{ msg }}</p>
    {% endfor %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>