{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Dashboard</h2>

    <p>Benvenuto, {{ user }}</p>

    <a href="{{ url_for('main.aggiungi_lego') }}" class="btn btn-primary mb-3">
        Aggiungi Lego
    </a>

    <h4>I tuoi Lego</h4>

    <table class="table table-bordered">

        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Azioni</th>
        </tr>

        {% for lego in legos %}
        <tr>
            <td>{{ lego.name }}</td>
            <td>{{ lego.description }}</td>

            <td>
                <a href="{{ url_for('main.delete_lego', id=lego.id) }}"
                   class="btn btn-danger btn-sm">
                    Elimina
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary mt-3">
        Logout
    </a>

</div>

{% endblock %}